[access]
	inheritFrom = All-Projects
[submit]
	action = rebase always

[label "Code-Review"]
	value = -1 Don't submit as-is
	value = 0 No score
	value = +1 Looks good to me
	defaultValue = 0
	function = MaxWithBlock
	copyMinScore = true
	copyMaxScore = true
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
[label "Commit-Queue"]
	function = MaxWithBlock
	defaultValue = 0
[label "Verified"]
	function = MaxWithBlock
	defaultValue = 0

[access "refs/for/refs/*"]
	push = group Logged-in Public Users
	create = group Logged-in Public Users
	forgeAuthor = group use-cria-chromium-committers-instead
	exclusiveGroupPermissions = addPatchSet
	addPatchSet = group use-cria-chromium-committers-instead
[access "refs/heads/*"]
	label-Code-Review = -1..+1 group use-cria-chromium-committers-instead
	submit = group use-cria-chromium-committers-instead
	push = group use-cria-chromium-committers-instead
