[access]
	inheritFrom = All-Projects
[submit]
	action = rebase always

[label "Code-Review"]
	value = -1 Don't submit as-is
	value = 0 No score
	value = +1 Looks good to me
	defaultValue = 0
	function = NoBlock
	ignoreSelfApproval = true
	copyCondition = changekind:NO_CHANGE OR changekind:NO_CODE_CHANGE OR changekind:TRIVIAL_REBASE OR has:unchanged-files OR is:MIN
[label "Commit-Queue"]
	function = NoBlock
	defaultValue = 0
	copyCondition = changekind:NO_CHANGE
[label "Verified"]
	function = NoBlock
	defaultValue = 0
	copyCondition = changekind:NO_CHANGE

[access "refs/for/refs/*"]
	push = group Logged-in Public Users
	create = group Logged-in Public Users
	forgeAuthor = group use-cria-project-chromium-committers-instead
	exclusiveGroupPermissions = addPatchSet
	addPatchSet = group use-cria-project-chromium-committers-instead
[access "refs/heads/*"]
	label-Code-Review = -1..+1 group use-cria-project-chromium-committers-instead
	submit = group use-cria-project-chromium-committers-instead
	push = group use-cria-project-chromium-committers-instead
[project]
	description = Low level C API for making direct Linux syscalls.
[access "refs/for/refs/heads/master"]
	exclusiveGroupPermissions = push
	push = deny group Anonymous Public Users
	push = deny group Logged-in Public Users
[access "refs/heads/master"]
	exclusiveGroupPermissions = push
	push = deny group Anonymous Public Users
	push = deny group Logged-in Public Users
[receive]
	requireContributorAgreement = true
[submit-requirement "Code-Review"]
	description = Submit requirement for the 'Code-Review' label
	submittableIf = label:Code-Review=MAX,user=non_uploader -label:Code-Review=MIN
	overrideIf = label:Bot-Commit=+1 AND -label:Code-Review=MIN
	canOverrideInChildProjects = true
[submit-requirement "Commit-Queue"]
	description = Submit requirement for the 'Commit-Queue' label
	applicableIf = is:false
	submittableIf = is:true
	canOverrideInChildProjects = true
[submit-requirement "Verified"]
	description = Submit requirement for the 'Verified' label
	applicableIf = is:false
	submittableIf = is:true
	canOverrideInChildProjects = true
